{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail cache %}
{% load comments filters uploadtemplate_tags %}
{% block body_id %}index{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}
<div id="featured_videos" class="pod">
  <div id="slideshow" class="clear">
    <div id="slide_window">
      <div id="slides">
        {% for video in featured_videos|slice:":5" %}
          {% include "localtv/video_feature.html" %}
        {% endfor %}
    </div><!-- // slides -->
  </div><!-- // slides -->
    <div class="pagination">
      <a id="left_arrow" class="featured_left" href="">[</a>
      <a id="right_arrow" class="featured_right" href="">]</a>
      
      <ul class="pagination_slides clear">
        <li class="current"><a href="#first">Page 1</a></li>
        <li><a href="#second">Page 2</a></li>
        <li><a href="#third">Page 3</a></li>
        <li><a href="#fourth">Page 4</a></li>
        <li><a href="#fifth">Page 5</a></li>
      </ul>
    </div><!-- // slideshow_pages -->
  </div><!-- // slideshow -->
</div><!-- // featured_videos -->
<div class="clear">
  <div id="tabs_module">
  <ul class="tabbed_mod clear">
    <li><a href="#entertainment_mod">Environment</a></li>
    <li><a href="#art_module">Art &amp; Culture</a></li>
    <li><a href="#stufff">Education</a></li>
    <li><a href="#stf">Government</a></li>
    <li><a href="#stuff">Things To Do</a></li>
  </ul>
  <div id="entertainment_mod" class="video_module tabbed_pod pod">
    <div id="video_list_container">
	    <div id="video_list_slides">
	      <div id="video_list_slide_items">
          <ul class="video_list clear">
            {% for video in new_videos|slice:":8" %}
            <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
              {% include "localtv/video_listing_individual.html" %}
            </li>
            {% endfor %}
          </ul>
        </div><!-- // video_list_slides_items -->
      </div><!-- // video_list_slides -->
      <div class="pagination">
        <a id="left_arrow" href="">[</a>
        <a id="right_arrow" href="">]</a>
        <ul class="pagination_slides clear">
          <li><a href="">Page 1</a></li>
          <li><a href="">Page 2</a></li>
          <li><a href="">Page 3</a></li>
          <li><a href="">Page 4</a></li>
          <li><a href="">Page 5</a></li>
        </ul>
      </div><!-- // slideshow_pages -->
    </div><!-- // video_list_container -->
  </div><!-- // video_module -->

<!-- // module --> 

  <div id="art_module" class="video_module tabbed_pod pod">
    Stuff
  </div>
  
<!-- // module --> 

  <div id="stufff" class="video_module tabbed_pod pod">
    Stuff
  </div><!-- // video_module --> 

<!-- // module --> 
  
  <div id="stf" class="video_module tabbed_pod pod">
    Stuff
  </div><!-- // video_module --> 

<!-- // module --> 
  
  <div id="stuff" class="video_module tabbed_pod pod">
    stuff
  </div><!-- // video_module --> 

<!-- // module --> 

  </div><!-- // tabs_module -->
  
  <div class="sidebar">
    <div class="pod" style="display: none;">
      <div class="bd">
        <div id="ad300"><span style="color: #777; font-size: 30px; font-weight: bold; text-align: center; display: block; padding: 110px 0 0 0;">300x250 Ad</span></div>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod" id="getstarted">
      <div class="hd">
        <h2>Get Started <em>— What Pittsburgh has to offer</em></h2>
      </div><!-- // hd -->
      <div class="bd">
        <h3>This Week</h3>
        <div class="this_week_video"><a href="">How to get help as a traveler in Pittsburgh</a> <a href="">Emerging Digital Rights from CMU Researchers</a> <a href="">Using Music as a Teaching Tool</a></div>
        <div id="email_newsletter">
          <p>Sign up for the week's top videos email newsletter.</p>
          <form>
            <input type="text" />
            <button>Subscribe</button>
          </form>
        </div><!-- // email_newsletter -->
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Pittsburgh Stories</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul class="clear">
          <li><a class="clear" href="">
            <img src="http://s3.mirocommunity.org.s3.amazonaws.com/pittsburgh/localtv/video_thumbs/1436/140x110.png?e92deacf" />
            <h4>One Minute Jr</h4>
            <p>Short videos that show a slice of life. These videos were selected as winners in the Voices of Youth competition.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Pittsburgh in Focus</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul>
          <li><a class="clear" href="/series">
            <img src="/images/voy_sample.jpg" />
            <h4>Voices of Youth</h4>
            <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod">
      <div class="hd">
        <h2>Facebook Stream</h2>
      </div><!-- // hd -->
      <div class="bd">
        <iframe src="http://www.facebook.com/plugins/activity.php?site=http://www.pittsburghfoundation.org/&amp;width=300&amp;height=300&amp;header=false&amp;colorscheme=light&amp;border_color=FFFFFF&amp;recommendations=false" scrolling="no" frameborder="0" style="border: none !important; overflow:hidden; width:300px; height:300px;" allowTransparency="true"></iframe>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Most Popular</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul>
          <li><a class="clear" href="">
            <img src="http://s3.mirocommunity.org.s3.amazonaws.com/pittsburgh/localtv/video_thumbs/1436/140x110.png?e92deacf" />
            <h4>Name of Video</h4>
            <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
          </a></li>
          <li><a class="clear" href="">
            <img src="http://s3.mirocommunity.org.s3.amazonaws.com/pittsburgh/localtv/video_thumbs/1436/140x110.png?e92deacf" />
            <h4>Name of Video</h4>
            <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
          </a></li>
          <li class="last"><a class="clear" href="">
            <img src="http://s3.mirocommunity.org.s3.amazonaws.com/pittsburgh/localtv/video_thumbs/1436/140x110.png?e92deacf" />
            <h4>Name of Video</h4>
            <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Featured Partners</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul>
          <li><a class="clear" href="http://www.toonseum.org">
            <img src="http://i4.ytimg.com/i/c8oudKLivnHwYPyszGHJkg/1.jpg?v=845851" />
            <h4>Toonseum</h4>
            <p>The mission of the ToonSeum is to celebrate the art of cartooning.</p>
          </a></li>
          <li><a class="clear" href="http://www.streetfilms.org/">
            <img src="http://b.vimeocdn.com/ps/357/357910_300.jpg" />
            <h4>Streetfilms</h4>
            <p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>
          </a></li>
          <li class="last"><a class="clear" href="http://www.mattress.org/">
            <img src="http://www.mattress.org/images/logo.gif" />
            <h4>Mattress Factory</h4>
            <p>Museum of contemporary art that exhibits room-sized works called installations, created on site by artists from around the world.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
  </div><!-- // sidebar -->
</div><!-- // clear -->
{% endblock content %}