{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail cache %}
{% load comments filters uploadtemplate_tags video_list %}
{% block body_id %}index{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}
<div id="featured_videos" class="pod">
  <div id="slideshow" class="clear">
    <div id="slide_window">
      <div id="slides">
        {% for video in featured_videos|slice:":5" %}
          {% include "localtv/video_feature.html" %}
        {% endfor %}
    </div><!-- // slides -->
  </div><!-- // slides -->
    <div class="pagination">
      <a id="left_arrow" class="featured_left" href="">[</a>
      <a id="right_arrow" class="featured_right" href="">]</a>
      
      <ul class="pagination_slides clear">
        <li class="current"><a href="#first">Page 1</a></li>
        <li><a href="#second">Page 2</a></li>
        <li><a href="#third">Page 3</a></li>
        <li><a href="#fourth">Page 4</a></li>
        <li><a href="#fifth">Page 5</a></li>
      </ul>
    </div><!-- // slideshow_pages -->
  </div><!-- // slideshow -->
</div><!-- // featured_videos -->
<div class="clear">
  <div id="tabs_module">
  <ul class="tabbed_mod clear">
    <li><a href="#artculture_mod">Art &amp; Culture</a></li>
    <li><a href="#digitalearning_mod">Digital Learning</a></li>
    <li><a href="#entertainment_mod">Entertainment</a></li>
    <li><a href="#aroundtown_mod">Around Town</a></li>
    <li><a href="#nonprofitnews_mod">Nonprofit News</a></li>
  </ul>
    {% comment %}
    <div id="new_mod" class="video_module tabbed_pod pod">
      <ul class="video_list clear">
          {% for video in new_videos|slice:":12" %}
          <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
            {% include "localtv/video_listing_individual.html" %}
          </li>
          {% endfor %}
        </ul>
    <div class="pagination" style="display: none;">
      <a id="left_arrow" href="">[</a>
      <a id="right_arrow" href="">]</a>
      <ul class="pagination_slides clear">
        <li><a href="">Page 1</a></li>
        <li><a href="">Page 2</a></li>
        <li><a href="">Page 3</a></li>
        <li><a href="">Page 4</a></li>
        <li><a href="">Page 5</a></li>
      </ul>
    </div><!-- // slideshow_pages -->
    <a class="btn_more" href="{% url localtv_list_new %}">See More <em class="icon">]</em></a>
  </div><!-- // video_module -->
  {% endcomment %}
  
  <div id="artculture_mod" class="video_module tabbed_pod pod">
    <ul class="video_list clear">
        {% get_video_list_for_category "art-and-culture" as artculture_list %}
        {% for video in artculture_list|slice:":12" %}
        <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
          {% include "localtv/video_listing_individual.html" %}
        </li>
        {% endfor %}
      </ul>
  <div class="pagination" style="display: none;">
    <a id="left_arrow" href="">[</a>
    <a id="right_arrow" href="">]</a>
    <ul class="pagination_slides clear">
      <li><a href="">Page 1</a></li>
      <li><a href="">Page 2</a></li>
      <li><a href="">Page 3</a></li>
      <li><a href="">Page 4</a></li>
      <li><a href="">Page 5</a></li>
    </ul>
  </div><!-- // slideshow_pages -->
  <a class="btn_more" href="{% url localtv_category "art-and-culture" %}">See More</a>
</div><!-- // video_module -->
  
  <div id="digitalearning_mod" class="video_module tabbed_pod pod">
    <ul class="video_list clear">
        {% get_video_list_for_category "digital-learning" as digitalearning_list %}
        {% for video in digitalearning_list|slice:":12" %}
        <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
          {% include "localtv/video_listing_individual.html" %}
        </li>
        {% endfor %}
      </ul>
  <div class="pagination" style="display: none;">
    <a id="left_arrow" href="">[</a>
    <a id="right_arrow" href="">]</a>
    <ul class="pagination_slides clear">
      <li><a href="">Page 1</a></li>
      <li><a href="">Page 2</a></li>
      <li><a href="">Page 3</a></li>
      <li><a href="">Page 4</a></li>
      <li><a href="">Page 5</a></li>
    </ul>
  </div><!-- // slideshow_pages -->
  <a class="btn_more" href="{% url localtv_category "digital-learning" %}">See More</a>
</div><!-- // video_module -->

<div id="entertainment_mod" class="video_module tabbed_pod pod">
  <ul class="video_list clear">
      {% get_video_list_for_category "entertainment" as entertainment_list %}
      {% for video in entertainment_list|slice:":12" %}
      <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
        {% include "localtv/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
<div class="pagination" style="display: none;">
  <a id="left_arrow" href="">[</a>
  <a id="right_arrow" href="">]</a>
  <ul class="pagination_slides clear">
    <li><a href="">Page 1</a></li>
    <li><a href="">Page 2</a></li>
    <li><a href="">Page 3</a></li>
    <li><a href="">Page 4</a></li>
    <li><a href="">Page 5</a></li>
  </ul>
</div><!-- // slideshow_pages -->
<a class="btn_more" href="{% url localtv_category "entertainment" %}">See More</a>
</div><!-- // video_module -->

<div id="nonprofitnews_mod" class="video_module tabbed_pod pod">
  <ul class="video_list clear">
      {% get_video_list_for_category "nonprofit-news" as nonprofitnews_list %}
      {% for video in nonprofitnews_list|slice:":12" %}
      <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
        {% include "localtv/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
<div class="pagination" style="display: none;">
  <a id="left_arrow" href="">[</a>
  <a id="right_arrow" href="">]</a>
  <ul class="pagination_slides clear">
    <li><a href="">Page 1</a></li>
    <li><a href="">Page 2</a></li>
    <li><a href="">Page 3</a></li>
    <li><a href="">Page 4</a></li>
    <li><a href="">Page 5</a></li>
  </ul>
</div><!-- // slideshow_pages -->
<a class="btn_more" href="{% url localtv_category "nonprofit-news" %}">See More</a>
</div><!-- // video_module -->
  
  <div id="aroundtown_mod" class="video_module tabbed_pod pod">
    <ul class="video_list clear">
        {% get_video_list_for_category "around-town" as aroundtown_list %}
        {% for video in aroundtown_list|slice:":12" %}
        <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
          {% include "localtv/video_listing_individual.html" %}
        </li>
        {% endfor %}
      </ul>
  <div class="pagination" style="display: none;">
    <a id="left_arrow" href="">[</a>
    <a id="right_arrow" href="">]</a>
    <ul class="pagination_slides clear">
      <li><a href="">Page 1</a></li>
      <li><a href="">Page 2</a></li>
      <li><a href="">Page 3</a></li>
      <li><a href="">Page 4</a></li>
      <li><a href="">Page 5</a></li>
    </ul>
  </div><!-- // slideshow_pages -->
  <a class="btn_more" href="{% url localtv_category "around-town" %}">See More</a>
  </div><!-- // video_module -->

  <!-- // module --> 
  </div><!-- // tabs_module -->
  
  <div class="sidebar">
    <div class="pod" style="display: none;">
      <div class="bd">
        <div id="ad300"><span style="color: #777; font-size: 30px; font-weight: bold; text-align: center; display: block; padding: 110px 0 0 0;">300x250 Ad</span></div>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    {% comment %}
    <div class="pod" id="getstarted">
      <div class="hd">
        <h2>Get Started <em>— What Pittsburgh has to offer</em></h2>
      </div><!-- // hd -->
      <div class="bd">
        <h3>This Week</h3>
        <div class="this_week_video"><a href="">How to get help as a traveler in Pittsburgh</a> <a href="">Emerging Digital Rights from CMU Researchers</a> <a href="">Using Music as a Teaching Tool</a></div>
        <div id="email_newsletter">
          <p>Sign up for the week's top videos email newsletter.</p>
          <form>
            <input type="text" />
            <button>Subscribe</button>
          </form>
        </div><!-- // email_newsletter -->
      </div><!-- // bd -->
    </div><!-- // pod -->
    {% endcomment %}
    
    <div class="pod" id="getstarted">
      <div class="hd">
        <h2>New on POV <em>— Watch. Submit. Share. Learn.</em></h2>
      </div><!-- // hd -->
      <div class="bd clear">
        <h3>Connecting the community through video.</h3>
        <div class="this_week_video">
          {% for video in new_videos|slice:":3" %}
            <a href="{{ video.get_absolute_url }}{{ video_url_extra }}">{{ video.name|slice:":45" }}</a>
          {% endfor %}
        </div><!-- // this_week_video -->
        <a style="margin: 5px 0 0 0;" class="btn_more" href="{% url localtv_list_new %}">See More <em class="icon">]</em></a>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    {% comment %}
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Disposable Film Festival - Pittsburgh</h2>
      </div><!-- // hd -->
      <div class="bd clear">
        <ul class="clear">
          <li><a class="clear" href="category/disposable-film-fest-pgh">
            <img src="http://b.vimeocdn.com/ts/133/920/133920723_640.jpg" />
            <h4>Disposable Film Festival</h4>
            <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    {% endcomment %}
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>In and Around Pittsburgh</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul class="clear">
          <li><a class="clear" href="http://pittsburghonvideo.org/category/pov-correspondents">
            <img src="http://b.vimeocdn.com/ts/133/920/133920723_640.jpg" />
            <h4>POV Correspondents</h4>
            <p>The latest news from Pittsburgh on Video correspondents on the ground.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Local Filmmaker Spotlight</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul>
          <li><a class="clear" href="http://pittsburghonvideo.org/author/125">
            <img src="{% get_static_url "/images/mattday_pic.png" %}" />
            <h4>Matthew R. Day</h4>
            <p>Day is a Pittsburgh based movie maker working with film, video, and computer animation. He currently works at Pittsburgh Filmmakers where among other jobs he is a director, cameraman, and editor making movies for Production Services.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod">
      <div class="hd">
        <h2>Facebook Stream</h2>
      </div><!-- // hd -->
      <div class="bd">
        <iframe src="http://www.facebook.com/plugins/activity.php?site=http://www.pittsburghonvideo.org&amp;width=300&amp;height=300&amp;header=false&amp;colorscheme=light&amp;border_color=FFFFFF&amp;recommendations=false" scrolling="no" frameborder="0" style="border: none !important; overflow:hidden; width:300px; height:300px;" allowTransparency="true"></iframe>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div id="most_popular" class="pod featured_wthumb">
      <div class="hd">
        <h2>Most Popular</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul>
          {% for video in popular_videos|slice:":3" %}
          <li>
            {% include "localtv/sidebar_video.html" %}
          </li><!-- // video_item -->
          {% endfor %}
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
    
    <div class="pod featured_wthumb">
      <div class="hd">
        <h2>Featured Partners</h2>
      </div><!-- // hd -->
      <div class="bd">
        <ul>
          <li><a class="clear" href="http://pittsburghonvideo.org/author/9">
            <img src="http://i4.ytimg.com/i/c8oudKLivnHwYPyszGHJkg/1.jpg?v=845851" />
            <h4>Toonseum</h4>
            <p>ToonSeum celebrates the art of cartooning. Our goal is to promote a deeper appreciation of the cartoonists and their work.</p>
          </a></li>
          <li><a class="clear" href="http://pittsburghonvideo.org/author/20">
            <img src="http://img.youtube.com/vi/40uVxg_dyaE/hqdefault.jpg" />
            <h4>Pittsburgh Zoo</h4>
            <p>The Pittsburgh Zoo & PPG Aquarium strives to foster positive, lifelong connections between animals and people.</p>
          </a></li>
          <li class="last"><a class="clear" href="http://pittsburghonvideo.org/author/119">
            <img src="http://i3.ytimg.com/i/jC-ghxb4VZPog5V8rZ8RJw/1.jpg?v=6b0257" />
            <h4>Heinz College</h4>
            <p>Carnegie Mellon University's H. John Heinz III College offers top-ranked graduate degree and executive education programs in public policy and information systems.</p>
          </a></li>
        </ul>
      </div><!-- // bd -->
    </div><!-- // pod -->
  </div><!-- // sidebar -->
</div><!-- // clear -->
{% endblock content %}