{% extends "localtv/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail cache %}
{% load comments filters uploadtemplate_tags video_list %}
{% block body_id %}index{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}
<div id="featured_videos">
  <div id="slideshow" class="clear">
    <div id="slide_window">
      <div id="slides">
        {% for video in featured_videos|slice:":5" %}
          {% include "localtv/video_feature.html" %}
        {% endfor %}
    </div><!-- // slides -->
  </div><!-- // slides -->
    <div class="pagination">
      <a id="left_arrow" href="">[</a>
      <a id="right_arrow" href="">]</a>
      <ul class="pagination_slides clear">
        <li class="current"><a href="#first">Page 1</a></li>
        <li><a href="#second">Page 2</a></li>
        <li><a href="#third">Page 3</a></li>
        <li><a href="#fourth">Page 4</a></li>
        <li><a href="#fifth">Page 5</a></li>
      </ul>
      
    </div><!-- // slideshow_pages -->
   
  </div><!-- // slideshow -->
</div><!-- // featured_videos -->

<div class="clear">
  <div id="tabs_module">
  <ul class="tabbed_mod clear">
    <li><a href="#artculture_mod">Latest</a></li>
    <li><a href="#digitalearning_mod">Most Watched</a></li>
    <li><a href="#entertainment_mod">Creativity &amp; Innovation</a></li>
    <li><a href="#aroundtown_mod">Globalization</a></li>
    <li><a href="#nonprofitnews_mod">Team &amp; Culture</a></li>
    <li><a href="#entertainment_mod">Creativity &amp; Innovation</a></li>
  </ul>
    {% comment %}
    <div id="new_mod" class="video_module tabbed_pod pod">
      <ul class="video_list clear">
          {% for video in new_videos|slice:":12" %}
          <li class="video_item {% cycle '2' 'alt_item' %}" class="clear">
            {% include "localtv/video_listing_individual.html" %}
          </li>
          {% endfor %}
        </ul>
    <div class="pagination" style="display: none;">
      <a id="left_arrow" href="">[</a>
      <a id="right_arrow" href="">]</a>
      <ul class="pagination_slides clear">
        <li><a href="">Page 1</a></li>
        <li><a href="">Page 2</a></li>
        <li><a href="">Page 3</a></li>
        <li><a href="">Page 4</a></li>
        <li><a href="">Page 5</a></li>
      </ul>
    </div><!-- // slideshow_pages -->
    <a class="btn_more" href="{% url localtv_list_new %}">See More <em class="icon">]</em></a>
  </div><!-- // video_module -->
  {% endcomment %}
  
  <div id="artculture_mod" class="video_module tabbed_pod pod">
    <ul class="video_list clear">
        {% get_video_list_for_category "art-and-culture" as artculture_list %}
        {% for video in artculture_list|slice:":12" %}
        <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
          {% include "localtv/video_listing_individual.html" %}
        </li>
        {% endfor %}
      </ul>
  <div class="pagination" style="display: none;">
    <a id="left_arrow" href="">[</a>
    <a id="right_arrow" href="">]</a>
    <ul class="pagination_slides clear">
      <li><a href="">Page 1</a></li>
      <li><a href="">Page 2</a></li>
      <li><a href="">Page 3</a></li>
      <li><a href="">Page 4</a></li>
      <li><a href="">Page 5</a></li>
    </ul>
  </div><!-- // slideshow_pages -->
  <a class="btn_more" href="{% url localtv_category "art-and-culture" %}">See More</a>
</div><!-- // video_module -->
  
  <div id="digitalearning_mod" class="video_module tabbed_pod pod">
    <ul class="video_list clear">
        {% get_video_list_for_category "digital-learning" as digitalearning_list %}
        {% for video in digitalearning_list|slice:":12" %}
        <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
          {% include "localtv/video_listing_individual.html" %}
        </li>
        {% endfor %}
      </ul>
  <div class="pagination" style="display: none;">
    <a id="left_arrow" href="">[</a>
    <a id="right_arrow" href="">]</a>
    <ul class="pagination_slides clear">
      <li><a href="">Page 1</a></li>
      <li><a href="">Page 2</a></li>
      <li><a href="">Page 3</a></li>
      <li><a href="">Page 4</a></li>
      <li><a href="">Page 5</a></li>
    </ul>
  </div><!-- // slideshow_pages -->
  <a class="btn_more" href="{% url localtv_category "digital-learning" %}">See More</a>
</div><!-- // video_module -->

<div id="entertainment_mod" class="video_module tabbed_pod pod">
  <ul class="video_list clear">
      {% get_video_list_for_category "entertainment" as entertainment_list %}
      {% for video in entertainment_list|slice:":12" %}
      <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
        {% include "localtv/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
<div class="pagination" style="display: none;">
  <a id="left_arrow" href="">[</a>
  <a id="right_arrow" href="">]</a>
  <ul class="pagination_slides clear">
    <li><a href="">Page 1</a></li>
    <li><a href="">Page 2</a></li>
    <li><a href="">Page 3</a></li>
    <li><a href="">Page 4</a></li>
    <li><a href="">Page 5</a></li>
  </ul>
</div><!-- // slideshow_pages -->
<a class="btn_more" href="{% url localtv_category "entertainment" %}">See More</a>
</div><!-- // video_module -->

<div id="nonprofitnews_mod" class="video_module tabbed_pod pod">
  <ul class="video_list clear">
      {% get_video_list_for_category "nonprofit-news" as nonprofitnews_list %}
      {% for video in nonprofitnews_list|slice:":12" %}
      <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
        {% include "localtv/video_listing_individual.html" %}
      </li>
      {% endfor %}
    </ul>
<div class="pagination" style="display: none;">
  <a id="left_arrow" href="">[</a>
  <a id="right_arrow" href="">]</a>
  <ul class="pagination_slides clear">
    <li><a href="">Page 1</a></li>
    <li><a href="">Page 2</a></li>
    <li><a href="">Page 3</a></li>
    <li><a href="">Page 4</a></li>
    <li><a href="">Page 5</a></li>
  </ul>
</div><!-- // slideshow_pages -->
<a class="btn_more" href="{% url localtv_category "nonprofit-news" %}">See More</a>
</div><!-- // video_module -->
  
  <div id="aroundtown_mod" class="video_module tabbed_pod pod">
    <ul class="video_list clear">
        {% get_video_list_for_category "around-town" as aroundtown_list %}
        {% for video in aroundtown_list|slice:":12" %}
        <li class="video_item {% cycle '' 'alt_item' %}" class="clear">
          {% include "localtv/video_listing_individual.html" %}
        </li>
        {% endfor %}
      </ul>
  <div class="pagination" style="display: none;">
    <a id="left_arrow" href="">[</a>
    <a id="right_arrow" href="">]</a>
    <ul class="pagination_slides clear">
      <li><a href="">Page 1</a></li>
      <li><a href="">Page 2</a></li>
      <li><a href="">Page 3</a></li>
      <li><a href="">Page 4</a></li>
      <li><a href="">Page 5</a></li>
    </ul>
  </div><!-- // slideshow_pages -->
  <a class="btn_more" href="{% url localtv_category "around-town" %}">See More</a>
  </div><!-- // video_module -->

  <!-- // module --> 
  </div><!-- // tabs_module -->
</div><!-- // clear -->
{% endblock content %}
