{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load localtv_thumbnail i18n filters uploadtemplate_tags comments editors_comment %}
<div class="clear">
  <div id="video_container">
{% if video.has_thumbnail %}
  <a href="{{ video.get_absolute_url }}"><em class="icon">9</em><div style="background: url({% get_thumbnail_url video 534 430 %}) center no-repeat; width: 399px; height: 220px; -webkit-border-radius: 10px; -moz-border-radius: 10px;"></div></a>
  {% else %}
  <a href="{{ video.get_absolute_url }}" ><img src="{% get_static_url "/images/default_big.jpg" %}" /></a>
  {% endif %}
  </div><!-- // video_container -->
  <div class="video_meta">
  {% if video.name %}
  <h2><a href="{{ video.get_absolute_url }}" title="{{ video.name }}">{{ video.name|slice:":65" }}</a></h2>
  {% else %}
  <h2><a href="{{ video.get_absolute_url }}">{% trans "(no title)" %}</a></h2>
  {% endif %}
  <p>{{ video.description|slice:":260"|sanitize:"whitelist|a br p|href" }}</p>
  
  <ul class="meta_list">
    <li class="date"><em class="icon">\</em> Featured {{ video.last_featured|simpletimesince }} ago</li>
    <li class="contributed clear">{% with video as instance %}{% include "localtv/inline_edit/video_authors.html" %}{% endwith %}</li>
  </ul>
  <div class="facebook_container">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A//{{ sitelocation.site.domain }}{{video.get_absolute_url|urlencode}}&amp;layout=standard&amp;show_faces=false&amp;width=225&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:225px; height:35px;" allowTransparency="true"></iframe>
  </div><!-- // facebook_container -->
</div><!-- // video_meta -->
</div><!-- // clear -->
