/* 
Old modal styles
*/

#widget-base h2 {
	margin-top: 10px;
}
#widget-settings, #widget-display {
	float: left;
}

#widget-settings {
	padding-right: 40px;
}

#widget-code h2 {
	float: none;
}

#widget-code textarea {
	float: left;
}

#widget-display {
	width: 100%;
	border-top: 2px solid grey;
	margin-top: 40px;
}

#widget-example {
	margin: 30px auto;
	width: 300px;
}

.edit_link {
	text-decoration: underline;
	color: #2472b4;
	padding-left: 10px;
	font-weight: bold;
	cursor: pointer;
}