{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load comments i18n localtv_thumbnail filters uploadtemplate_tags %}
<a class="clear" href="{{ video.get_absolute_url }}{{ video_url_extra }}">
  {% if video.has_thumbnail %}
      <div class="img" style="background: url({% get_thumbnail_url video 364 271 %}) center no-repeat; width: 45px; height: 45px;-webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-background-clip: padding-box;"></div>
    {% else %}
      <div class="img" style="background: url({% get_static_url "/images/default_vid.gif" %}) center no-repeat; width: 45px; height: 45px;-webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-background-clip: padding-box;"></div>
  {% endif %}

{% if video.name %}
<h4>{{ video.name|slice:":65" }}</h4>
{% else %}
{% endif %}
<p>{{ video.description|slice:":150"|sanitize:"whitelist|a br p|href"|removetags:"a" }}</p>
</a>